
<header class="container mx-auto py-5 justify-center items-center flex"> 
    <nav>
        <h1 class=" text-5xl text-slate-50">Vieojuegos del grado decimo</h1>
    </nav>
</header>

<style>
    h1{
        text-shadow: 4px 6px 5px #4ee, 0 0 10px #fff, 6px 8px 5px #f00;
    }
</style>